html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url('./assets/lato-v16-latin-300.woff2') format('woff2');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('./assets/lato-v16-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url('./assets/lato-v16-latin-700.woff2') format('woff2');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url('./assets/lato-v16-latin-900.woff2') format('woff2');
}



html{
  font-size: 10px;
}

body{
  font-size: 1.2rem;
}

.wrapper {
  max-width: 1020px;
  margin: 0 auto;
}
.header {
  height: 89px; 
  
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.header__wrapper {
  padding: 28px 0;
}

.header__layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin-left: 40px;
}

.header__logo__title {
  font: 2.6rem "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -1.15px;
}

.header__logo__link {
  color: white;
  text-decoration: none;
}

.header__logo__link::after {
  content: "*";
  color: #f06c64;
}

.header__navigation {
  margin-right: 40px;
  margin-top: 10px; 
}

.header__navigation__item {
  position: relative;

  display: inline-block;
  margin: 0 14px;
}

.header__navigation__item::after {
  position: absolute;
  top: 50%;
  right: -15px;
  content: '';
  
  width: 2px;
  height: 2px;

  background-color: #494e62; 
  transform: translateY(-50%);
}

.header__navigation__item:last-child::after {
  display: none;
}

.header__navigation__item:last-child {
  margin-right: 0;
}

.header__navigation__link {
  font: 1.2rem "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.3px;
  color: white;
  text-decoration: none;
}

.header__navigation__link:hover {
  text-decoration: underline;
  color: #d3625c;
}

.header__navigation__link_active {
  color: #d3625c;
}




.slider {
  height: 594px;

  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.slider__wrapper {
  position: relative;
}

.slider__arrow {
  position: absolute;
  
  width: 15px;
  height: 15px;

  border-top: 5px solid #ca4549;
  border-left: 5px solid #ca4549;
}

.slider__arrow:hover {
  cursor: pointer;
  opacity: 0.8;
}

.slider__arrow:active {
  border-color: #B22222;
}

.slider__arrow_left {
  top: 284px;
  left: 45px;

  transform: rotate(-45deg);
}

.slider__arrow_right {
  top: 284px;
  right: 43px;

  transform: rotate(135deg);
}

.slider__phone {
  position: absolute;
}

.slider__phone_vertical {
  top: 53px;
  left: 112px;
 
  width: 240px;
  height: 483px;
  
  background-image: url('assets/slider/1.png');
}

.slider__phone_horizontal {
  top: 174px;
  left: 425px;

  width: 484px;
  height: 240px;

  background-image: url('assets/slider/2.png');
}



.our-services {
  height: 494px;

  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff 
}

.our-services__wrapper {
  padding-top: 59px;
}

.our-services__article {
  margin: 0 40px;
}

.our-services__title {
  font: 3rem "Lato", sans-serif ;
  font-style: normal;
  font-weight: 900;
  letter-spacing: -0.1px;
  color: #666d89;
}

.our-services__description {
  margin-top: 18px;
  max-width: 940px;
  max-height: 60px;
  
  font: 1.8rem "Lato", sans-serif ;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: #767e9e;

  overflow: hidden;
}

.layout-3-column {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: space-between;

  margin: 43px 40px 0 40px;
}

.service-item {
  flex-basis: 300px;

  margin-bottom: 30px;
}

.service-item__icon {
  float: left;

  margin-top: 4px;
}

.service-item__icon_pen,
.service-item__icon_phone {
  margin-left: 1px;
}

.service-item__article {
  float: right;

  width: 220px;

  overflow: hidden;
}

.service-item__title {
  font: 1.8rem "Lato", sans-serif;
  font-style: normal;
  font-weight: 900;
  letter-spacing: -0.1px;
  color: #666d89;
}

.service-item_heart .service-item__title,
.service-item_star .service-item__title {
  margin-left: 1px;
}

.service-item__description {
  margin-top: 8px;
  max-height: 73px;
  
  font: 1.2rem "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-align: justify;
  color: #767e9e;
}

.service-item_pen .service-item__description,
.service-item_phone .service-item__description {
  margin-left: 1px;
}




.portfolio {
  max-height: 864px; 

  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.portfolio__wrapper {
  padding: 62px 0 67px 0;
} 

.portfolio__article {
  margin-left: 40px;
}

.portfolio__title {
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 3rem;
  letter-spacing: -0.2px;
  color: #666d89;
}

.portfolio__description {
  margin-top: 27px;
  
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.8rem;
  color: #666d89;
}

.portfolio__tags {
  margin-top: 17px;
  margin-left: 41px;
}

.tag {
  display: inline-block;
  margin-right: 7px;
  padding: 4px 6px 4px 6px;

  font-family: "Lato", Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  color: #666d89;

  border: 1px solid #666d89;
  border-radius: 5px;
}

.tag_selected {
  color: #dedede;
  border: 1px solid #c5c5c5;
}

.tag:hover {
  cursor: pointer;
  color: #dedede;
  border: 1px solid #c5c5c5;
}

.portfolio__content {
  margin: 19px 40px 0 40px;
}

.layout-4-column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  max-height: 601px;
  overflow: hidden;
}

.layout-4-column__item {
  height: 187px;
  margin-bottom: 20px;
}






.about-us {
  max-height: 728px; 

  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.about-us__wrapper {
  padding: 62px 0 67px 0;
}

.about-us__article {
  margin: 0 40px;
}

.about-us__title {
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 3rem;
  letter-spacing: -0.2px;
  color: #666d89;
}

.about-us__description {
  margin-top: 21px;
  
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: #767e9e;
}

.about-us__team {
  display: flex;
  justify-content: space-between;
  margin: 45px 40px 0 40px;
}

.about-us__teammate {
  flex-basis: 300px;
}

.about-us__teammate__avatar_desmond {
  transform: translateX(-1px);
}

.about-us__teammate__name {
  max-height: 18px;
  max-width: 300px;
  margin-top: 15px;
  
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1.8rem;
  letter-spacing: -0.15px;
  color: #666d89;

  overflow: hidden;
}


.about-us__teammate_adam .about-us__teammate__name,
.about-us__teammate_scolara .about-us__teammate__name {
  transform: translateX(-1px);
}

.about-us__teammate__description {
  max-height: 42px;
  max-width: 300px;
  margin-top: 10px;
  
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 21px;
  letter-spacing: -0.06px;
  color: #767e9e;
  text-align: justify;

  overflow: hidden;
}

.socials {
  height: 32px;
}

.about-us__teammate__socials {
  height: 32px;
  margin-top: 24px;
}

.about-us__teammate_adam .socials {
  margin-left: 1px;
}

.social__link {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 5px;
  
  text-decoration: none;
}

.social-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
}

.social-icon:hover {
  background-color: #e3e3e3;
  border-radius: 50%;
  transform: scale(1.1, 1.1);
}
.social-icon:active {
  background-color: #cac9c9;
  transform: scale(1.2, 1.2);
}

.social-icon_facebook {
  background-image: url("assets/social/facebook.png");
}

.social-icon_google {
  background-image: url("assets/social/google.png");
}

.social-icon_twitter {
  background-image: url("assets/social/twitter.png");
}

.social-icon_linkedin {
  background-image: url("assets/social/linkedin.png");
}





.get-a-quote {
  height: 648px;

  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.get-a-quote__wrapper {
  padding: 62px 0 22px 0;
}

.get-a-quote__article {
  margin: 0 40px;
}

.get-a-quote__title {
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 3rem;
  letter-spacing: -0.2px;
  color: #f0d8d9;
}

.get-a-quote__description {
  margin-top: 21px;
  
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: #f0d8d9;
}

.layout-2-column {
  display: flex;
  margin: 44px 40px 0 40px;

  justify-content: space-between;
  align-items: flex-start;
}

.get-a-quote__form {
  /* flex-basis: 620px; */
  max-width: 619px;
}

.get-a-quote__input {
  width: 100%;
  margin-bottom: 16px;
  padding: 11px 0 12px 0;

  border-radius: 6px;
  border: none;
  background-color: #d6564f;
}

.get-a-quote__input::placeholder {
  padding-left: 15px;
  
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  color: #f48c8f;
}

.get-a-quote__input::-ms-input-placeholder {
  padding-left: 15px;
  
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  color: #f48c8f;
}

.get-a-quote__input::-moz-placeholder {
  padding-left: 15px;
  
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  color: #f48c8f;
}

.get-a-quote__textarea {
  width: 100%;
  height: 192px;
  padding: 10px 0 0 0;
  resize: none;

  border-radius: 6px;
  border: none;
  background-color: #d6564f;
}

.get-a-quote__textarea::placeholder {
  padding-left: 15px;
  
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  color: #f48c8f;
}

.get-a-quote__textarea::-ms-input-placeholder {
  padding-left: 15px;
  
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  color: #f48c8f;
}

.get-a-quote__textarea::-moz-placeholder {
  padding-left: 15px;
  
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  color: #f48c8f;
}

.get-a-quote__button {
  margin-top: 10px;
  padding: 7px 10px;
  
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.4rem;
  color: #666d89;

  background-color: #f2f2f2;
  border: 0;
  border-radius: 6px;
}

.get-a-quote__button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.get-a-quote__button:active {
  opacity: 1;
}

.get-a-quote__contact {
  flex-basis: 300px;
}

.get-a-quote__contact__title {
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1.8rem;
  letter-spacing: -0.1px;
  color: #f0d8d9;
}

.get-a-quote__contact__description {
  margin-top: 10px;
  text-align: justify;
  
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 22px;
  letter-spacing: -0.15px; 
  color: #f0d8d9;
}

.get-a-quote__contact__tools {
  margin-top: 25px;
  margin-left: 23px;
}

.get-a-quote__contact__tool {
  position: relative;
  
  margin-bottom: 9px;
}

.get-a-quote__contact__tool_phone {
  margin-bottom: 10px;
}

.get-a-quote__contact__tool::before {
  content: '';

  position: absolute;
  display: inline-block;

  transform: translateY(0);
  
}

.get-a-quote__contact__tool_map::before {
  left: -20px;
  
  width: 7px;
  height: 11px;

  background-image: url('assets/contact/map.png');
}

.get-a-quote__contact__tool_phone::before {
  left: -22px;
  
  width: 11px;
  height: 11px;
  
  background-image: url('assets/contact/phone.png');
}

.get-a-quote__contact__tool_mail::before {
  left: -23px;
  top: 50%;
  transform: translateY(-3px);
  
  width: 13px;
  height: 8px;
  
  background-image: url('assets/contact/mail.png');
}

.get-a-quote__contact__tool__link {
  font-family: "Lato", Verdana, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  font-style: normal;
  color: #f0d8d9;
  text-decoration: none;
}

.footer {
  height: 76px;

  background-color: #2d303a;
}

.footer__wrapper {
  padding: 22px 0;
}

.footer__layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 35px 0 42px;
}

.footer__copyright {
  margin-bottom: 2px;
  
  font: 1.2rem "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.2px;
  color: #666d89;
  text-decoration: none;
}

.social__link {
  display: inline-block;
  
  text-decoration: none;
}

.social-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 5px; 
}

.social-icon:hover {
  background-color: #e3e3e3;
  border-radius: 50%;

  transform: scale(1.1, 1.1);
}
.social-icon:active {
  background-color: #cac9c9;

  transform: scale(1.2, 1.2);
}

.social-icon_facebook {
  background-image: url("assets/social/facebook.png");
}

.social-icon_google {
  background-image: url("assets/social/google.png");
}

.social-icon_twitter {
  background-image: url("assets/social/twitter.png");
}

.social-icon_linkedin {
  background-image: url("assets/social/linkedin.png");
}